body,td {font-family:Verdana; font-size:10pt;}

.text{
    width: 100%;
}

img{
    margin-right: 5px;
}

th{
    text-align: left;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}